<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="page-title">
        Welcome to our movie recommender!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="text-notes">
        Click the picture to continue
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="image">
        <img src="https://via.placeholder.com/150">
      </div>
    </div>
  </div>
</div>
