.title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.row {
  margin: 20px 0;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  max-width: 500px;

  .name {
    flex: 5;
  }

  button {
    flex: 1;
    margin-right: 20px;
  }

  .rate {
    flex: 2;
    max-width: 100px;
  }
}
